<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <api>
      <services>
        <configuration>
          <allowedControllers>
            <allowedController desc="LoadDefaultSettingsExController">Sitecore.Support.EmailCampaign.Server.Controllers.DefaultSettings.LoadDefaultSettingsExController, Sitecore.Support.195494</allowedController>
            <allowedController desc="SaveDefaultSettingsExController">Sitecore.Support.EmailCampaign.Server.Controllers.DefaultSettings.SaveDefaultSettingsExController, Sitecore.Support.195494</allowedController>
          </allowedControllers>
        </configuration>
      </services>
    </api>
  </sitecore>
</configuration>